[Unit]
Description=start wireless interface
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/startup.sh

[Install]
WantedBy=multi-user.target


